
<%- include('../partials/header') %>

    <table>
        <thead>
            <tr>
                <th>Airline</th>
                <th>Flight No.</th>
                <th>Departure</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
          <% flights.forEach(function(f) {%>
          <tr>
            <th><%= f.airline %></th>
            <th><%= f.flightNo %></th>
            <th><%= f.departs %></th>
            <th><a href="/flights/<%= f._id %>">DETAILS</a></th>
          </tr>
          <% }); %>
        </tbody>
        </thead>
    </table>

    <%- include('../partials/footer') %>