
<%- include('../partials/header') %>

    <table>
        <thead>
            <tr>
                <th scope ="col">Airline</th>
                <th scope ="col">Flight No.</th>
                <th scope="col">Departure</th>
            </tr>
        </thead>
        <tbody>
          <% flights.forEach(function(f) {%>
          <tr>
            <th><%= f.airline %></th>
            <th><%= f.flightNo %></th>
            <th><%= f.departs %></th>
            <th><a href="/flights/<%= f._id %>">DETAILS</a></th>
          </tr>
          <% }); %>
        </tbody>
        </thead>
    </table>

    <%- include('../partials/footer') %>