<%- include('../partials/header') %>

<section id="show-page">
  <div>Airline: <%= flight.airline %></div>
  <div>Flight No: <%= flight.flightNo %></div>
  <div>Departs: <%= flight.departs %></div>
  <div>Airport: <%= flight.airport %></div>
</section>


<br><br><h2>Destinations</h2>
<form id="add-destination-form" method="POST"
  action="/flights/<%= flight._id %>/destinations">
  <label>Airport:</label>
  <select name="airport">
        <option value="SEA">Select airport</option>
        <option value="SEA">SEA</option>
        <option value="DAL">DAL</option>
        <option value="LAX">LAX</option>
        <option value="AUS">AUS</option>
  </select>
  <br>
  <label>Arrival:</label>
  <input type="datetime-local" name="arrival">
  <br>
  <input type="submit" value="Add Destination" class="button">
</form>

<% if (flight.destinations.length) { %>
    <table class="destinations-table">
      <thead>
        <tr>
          <th>Airport</th>
          <th>Arrival</th>
        </tr>
      </thead>
      <tbody>
        <% flight.destinations.forEach(function(d) { %>
          <tr>
            <td><%= d.airport %></td>
            <td><%= d.arrival %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Other Destinations</h5>
  <% } %>


<%- include('../partials/footer') %>